:root {
    --primary-color: rgb(5, 142, 255);
    --primary-color-darker: rgb(10, 107, 187);
}
* {
    box-sizing: border-box;
    outline: 0;
    font-family: 'Poppins', sans-serif;
}
body {
    margin: 0;
    padding: 0;
    background: var(--primary-color);
}
.container {
    width: fit-content;
    margin: 10% auto;
    padding: 10px;
    background: #fffefe;
    border-radius: 10px;
    text-align: center;
    font-size: 1.3em;
}

/*-------Form-----------*/
form input, form label {
    display: block;
    margin-bottom: 10px;
}
form label {
    width: 100%;
}
form input {
    width: 50%;
    height: 50px;
    margin: auto;
    padding: 0 20px;
    font-size: 24px;
    border-radius: 5px;
}
form button {
    border: none;
    margin-top: 10px;
    background: var(--primary-color);
    font-size: 20px;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}
form button:hover {
    background: var(--primary-color-darker);
}

/*-----------------------------------*/

.calculator {
    width: 400px;
}

.display {
    font-size: 2em;
    width: 100%;
    text-align: right;
}

.btn {
    width: 100%;
    height: 40px;
    font-size: 1em;
    border: none;
    background: #dfdfdf;
    cursor: pointer;
    box-shadow: 2px 2px rgba(0,0,0,0.2)
}

.btn:hover {
    background: #9e9e9e;
}

.eq {
    
}

.btn:active {
    transform: scale(0.98);
}

.btn-eq {
    background: rgb(0, 140, 255);
    color: white;
}

.btn-eq:hover {
    background: rgb(1, 81, 146);
}